/* ---------------------------------------- */
/*            STYLESHEET IMPORTS            */
/* ---------------------------------------- */

@import 'grid.css';

/* ---------------------------------------- */
/*              GENERAL STYLES              */
/* ---------------------------------------- */

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #fafafa;
	font-weight: 300;
}

main{
	padding: 35px 0;
	// overflow: hidden;
	display: block;

	clear: both;
}

.display_none{ display: none; }

.float_left{ float: left; }
.float_right{ float: right; }

.clear{	clear: both; }

/* --- TYPOGRAPHY --- */

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	color: #444;

	transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{	color: #777; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
	color: #e6624d;

	transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
}

h1{
	font-size: 36px;

	margin: 0 0 10px;
}

h2,
.h2_like{
	font-size: 30px;
	line-height: 1.2;

	margin: 0 0 8px;
}

@media only screen and (max-width: 767px) {
	.h2_like { font-size: 24px; }
}

.h2_like { font-weight: 300; }

h3{
	font-size: 24px;
	line-height: 1.2;

	margin: 0 0 10px;
}

h4{
	font-size: 19px;

	margin: 0 0 12px;
}

h5{
	font-size: 14px;
	line-height: 1.2;

	margin: 0 0 14px;
}

h6{
	font-size: 11px;
	line-height: 1.6;

	margin: 0px 0px 5px;
}

p{
	font-size: 16px;
	color: #999;
	line-height: 1.7;

	margin: 0 0 15px;
}

p:last-child{ margin: 0; }

p a{
	font-weight: 400;
	color: #e6624d;
}

p a:hover{ text-decoration: underline; }

.sup_date {
	font-size: 7px;
	position: relative;
	top: -1px;
}

.post_content ul {
	color: #777;
	list-style: disc;
	margin-bottom: 15px;
	padding-left: 25px;
}

::selection{
	color: #fff;

	background: #e6624d;
}

::-moz-selection{
	color: #fff;

	background: #e6624d;
}

.light{ font-weight: 300; }
.bold{ font-weight: 600;}
.bolder{ font-weight: 700;}
.boldest{ font-weight: 800;}
.italic{ font-style: italic; }

.lCase{ text-transform: none; }

.text_center{ text-align: center; }
.text_right{ text-align: right; }

.text_white{ color: #fff; }
.text_lightestGrey{ color: #cacac8; }
.text_lightGrey{ color: #999; }
.text_grey{ color: #777; }
.text_darkGrey{ color: #333; }
.text_red{ color: #e55151; }
.text_orange, .text_color{ color: #e6624d; }
.text_yellow{ color: #bb9113; }
.text_lime{ color: #72d23e; }
.text_green{ color: #00b400; }
.text_teal{ color: #2bcdb8; }
.text_blue{ color: #46ace7; }
.text_purple{ color: #9770c6; }
.text_pink{ color: #e656a0; }

.highlight{
	color: #fff;

	background: #e6624d;
	margin: 0 2px;
	opacity: 1;
}

.bg_white{ background: #fff; }
.bg_lightGrey{ background: #999; }
.bg_grey{ background: #777; }
.bg_darkGrey{ background: #333; }
.bg_red{ background: #e55151; }
.bg_orange{ background: #e6624d; }
.bg_yellow{ background: #bb9113; }
.bg_lime{ background: #72d23e; }
.bg_green{ background: #00b400; }
.bg_teal{ background: #2bcdb8; }
.bg_blue{ background: #46ace7; }
.bg_purple{ background: #9770c6; }
.bg_pink{ background: #e656a0; }

/* --- DROPCAPS --- */

.dropcap{
	font-size: 73px;
	font-weight: 700;
	line-height: 58px;
	color: #444;

	padding: 4px 8px 0 0;
	float: left;
}

.dropcap_alt{
	font-size: 40px;
	font-weight: 300;
	line-height: 60px;
	color: #fff;

	background: #e6624d;
	margin: 0 8px 0 0;
	padding: 2px 17px;
	float: left;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* --- TITLES --- */

.title{	margin-top: 5px; margin-bottom: 25px; }

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6{ margin: 0; }

.title p{
	font-size: 17px;
	line-height: 1.5;

	margin: 20px 0 32px;
}

.title .list_2{	margin: -20px 0 0; }

/* --- BLOCKQUOTES --- */

blockquote{
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.5;
	text-transform: uppercase;
	color: #e6624d;

	border-left: 2px solid #e6624d;
	margin: 25px 0 25px 15px;
	padding: 4px 0 4px 15px;
}

blockquote.alt1{
	background: rgba(0,0,0,0.02);
	padding: 15px;
}

blockquote.alt2{
	color: #fff;

	background: #e6624d;
	border: 0;
	padding: 15px;
}

blockquote.alt3{
	border: 0;
	padding: 4px 0;
}

blockquote.alt4{
	width: 150px;
}

blockquote.alt4.float_left{
	margin: 0 15px 10px 0;
	float: left;
}

blockquote.alt4.float_right{
	margin: 0 0 10px 15px;
	float: right;
}

/* --- INPUT BOX STYLES --- */

input[type=text], textarea{
	font-family:'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 300;
	color: #999;

	width: 100%;
	background: #fcfcfc;
	border: 1px solid #ddd;
	padding: 8px 0 8px 10px;
	display: inline-block;

	outline: none;
	-webkit-appearance: none;

	border-radius: 4px;
	-moz-box-border-radius: 4px;
	-webkit-border-radius: 4px;

	box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.015);
	-moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.015);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.015);
}

input[type=text]:focus, textarea:focus{	color: #444; }

input[type=submit]:hover{ cursor: pointer; }

/* --- LIST STYLES --- */

ul.list li{
	font-size: 13px;
	font-weight: 400;
	line-height: 1.7;
	color: #999;

	margin: 0 0 15px;
}

ul.list li:before{
	font-family: "FontAwesome";
	color: #444;

  	margin: 0 10px 0 0;
  	float: left;
}

ul.list.right li:before{ float: right; }

ul.list.text_color li:before{ color: #e6624d;}
ul.list.text_lightestGrey li:before{ color: #cacac8; }
ul.list.text_lightestGrey li:hover:before{ color: #e6624d; }

ul.ticked li:before{ content: "\f00c"; }
ul.crossed li:before{ content: "\f00d"; }
ul.plus li:before{ content: "\f067"; }
ul.minus li:before{ content: "\f068"; }
ul.starred li:before{ content: "\f005"; }
ul.arrow li:before{ content: "\f054"; }
ul.tags li:before{ content: "\f02c"; }
ul.pencil li:before{ content: "\f040"; }

.list_2{
	margin: 0 0 35px;
}

.list_2 ul li{
	font-size: 13px;
	text-transform: uppercase;
	color: #999;

	margin: 0 10px 0 0;
	display: inline-block;
}

.list_2 ul li:last-child{ margin: 0; }

.list_2 ul li i{
	font-size: 6px;
	vertical-align: middle;
	color: #e6624d;

	margin: 0 5px 4px 0;
}

/* --- TOOLTIP --- */

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
	content: attr(title);

	font-size: 11px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	width: 150px;
    background: rgba(34,34,34,0.9);
    margin-left: -135px;
    padding: 15px 15px;
    position: absolute;
    bottom: 26px;
    z-index: 999;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.tooltip:hover:before{
	content: "";

	margin-left: -10px;
    border: solid;
    border-color: #222 transparent;
    border-width: 7px 10px 0 10px;
    position: absolute;
    bottom: 19px;
    left: 50%;
    opacity: 0.9;
    z-index: 99;
}

/* --- SPACING --- */

hr{
	width: 100%;
	height: 2px;
	background: #ededed;
	margin: 0;
	border: none;
	display: block;
	clear: both;
}

hr.thin{
	height: 1px;
	background: #f2f2f2;
}

/* --- GAPS --- */

.gap_0{ margin-bottom: 0; }
.gap_5{ margin-bottom: 5px; }
.gap_10{ margin-bottom: 10px; }
.gap_15{ margin-bottom: 15px; }
.gap_20{ margin-bottom: 20px; }
.gap_25{ margin-bottom: 25px; }
.gap_30{ margin-bottom: 30px; }
.gap_35{ margin-bottom: 35px; }
.gap_40{ margin-bottom: 40px; }
.gap_45{ margin-bottom: 45px; }
.gap_50{ margin-bottom: 50px; }
.gap_55{ margin-bottom: 55px; }
.gap_60{ margin-bottom: 60px; }

.pad_0{ padding-bottom: 0; }

/* --- IMAGE STYLES/EFFECTS --- */

img{ max-width: 100%; }

img.align_left{
	margin: 0 10px 0 0;
	float: left;
}

img.align_right{
	margin: 0 0 0 10px;
	float: right;
}

.avatar, .avatar_2{
	background: #fff;
	border: 4px solid #fff;
	margin: 0 0 5px;
	position: relative;

	box-shadow: 0 0 1px rgba(0,0,0,0.2), 0 1px 4px rgba(0,0,0,0.04);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.2), 0 1px 4px rgba(0,0,0,0.04);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2), 0 1px 4px rgba(0,0,0,0.04);

	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}

.avatar_2{
	border: 6px solid #fff;
	margin: 0 0 10px;
}

.avatar_2_wrap{
	width: 176px;
	margin: 0 auto;
	position: relative;
}

.avatar_2_wrap .notification{
	text-align: center;

	top: 6px;
	right: 6px;
}

.avatar_2_wrap .btn{
	position: absolute;
	top: 38%;
	right: 19%;
	z-index: 1;
}

.avatar_2_wrap + .avatar_title{	text-align: center; }

.avatar_title h5 span a{
	font-size: 10px;
	font-weight: 400;
	color: #e6624d;

	margin: 10px 0 0;
	display: block;
}

.avatar_title h5 span:hover, .avatar_title h5 span a:hover{ text-decoration: underline; }

.img_overlay{
	width: 100%;
	height: 100%;
	background: #e6624d;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;

    transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.img_overlay:hover{ opacity: 0.9; }

.img_overlay p{
	font-size: 12px;
	text-align: center;
	color: rgba(255,255,255,0.65);

	width: 80%;
	height: 60px;
	margin: -30px 0 0 10%;
	position: absolute;
	overflow: hidden;
	top: 0;

	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.img_overlay p span{
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	text-transform: uppercase;
	color: #fff;

	display: block;
}

.img_overlay:hover p{	top: 50%; }

.img_overlay i{
	font-size: 17px;
	color: #fff;
	text-align: center;

	width: 100%;
	margin-top: -8px;
	position: absolute;
	top: 0;

	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.img_overlay:hover i{	top: 50%; }

.arrow_left:after{
	content: "";

	border: solid;
    border-color: transparent #fff;
	border-width: 10px 7px 10px 0px;
	margin-top: -10px;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 50;

	-moz-transform: scale(1.1);
}

.arrow_right:after{
	content: "";

	border: solid;
    border-color: transparent #fff;
	border-width: 10px 0px 10px 10px;
	margin-top: -10px;
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 50;

	-moz-transform: scale(1.1);
}

.arrow_top:after{
	content: "";

	border: solid;
    border-color: #fff transparent;
	border-width: 7px 10px 0 10px;
	margin-left: -10px;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 50;

	-moz-transform: scale(1.1);
}

.arrow_bottom:after{
	content: "";
	border: solid;
    border-color: #fff transparent;
	border-width: 0px 10px 7px 10px;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -10px;
	z-index: 50;

	-moz-transform: scale(1.1);
}

.arrow_bottom_left:after{
	content: "";
	border: solid;
    border-color: #fff transparent;
	border-width: 0px 10px 7px 10px;
	position: absolute;
	left: 35px;
	bottom: 0;
	margin-left: -10px;
	z-index: 50;

	-moz-transform: scale(1.1);
}
/* ---------------------------------------- */
/*                  WRAPPERS                */
/* ---------------------------------------- */

.grey_wrapper{
	background: #f8f7f6;
	border: 1px solid #e8e8e8;
	border-left: 0;
	border-right: 0;
	padding: 50px 0 35px;
}

.coloured_wrapper{
	background: no-repeat top center;
	padding: 50px 0px 35px;
	position: relative;
	z-index: 1;

	background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

.coloured_wrapper:before{
	content : "";

	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
	opacity: 0.95;
	z-index: -1;
}

.coloured_wrapper_title p{ color: rgba(255,255,255,0.65); }

.coloured_wrapper h3, .coloured_wrapper h4, .coloured_wrapper h5, .coloured_wrapper h6{ color: #fff }

.coloured_wrapper.defaultcolor_wrap:before{ background: #e6624d; }
.coloured_wrapper.darkblue_wrap:before{	background: #434952; }

/* --- CONTENT BOX WRAP --- */

.boxed{
	background: #fff;
	border: 1px solid #ebebeb;
	padding: 20px;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.boxed:hover{
	border-color: #e2e2e2;

	box-shadow: 0 1px 4px rgba(0,0,0,0.03);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.03);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.03);
}

.round{
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.rounded{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* ---------------------------------------- */
/*                  #HEADER                 */
/* ---------------------------------------- */

.nav_clear{ margin-top: 73px; }

#header{
	width: 100%;
	background: #fff;
	// position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	margin-bottom: 1px;

	box-shadow: 0 1px 4px rgba(0,0,0,0.02), 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.02), 0 1px 0 rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.02), 0 1px 0 rgba(0,0,0,0.05);

	transition: top 0.5s ease;
	-o-transition: top 0.5s ease;
	-ms-transition: top 0.5s ease;
	-moz-transition: top 0.5s ease;
	-webkit-transition: top 0.5s ease;

}

#header:before{
	content:"";

	width: 100%;
	height: 3px;
	background: url(../img/rainbow.png) 0 0 no-repeat;
	background-size: 100%;
	position: relative;
	float: left;
}

#header nav ul li a, .socialicons li{ line-height: 70px; } /* --- VERTICALLY CENTERS NAV LINKS & SOCIAL ICONS --- */

#nav_logo{
	margin: 19px 0 0; /* --- VERTICALLY CENTERS LOGO --- */
	float: left;
}

#nav_search{ margin-top: 17px } /* --- VERTICALLY CENTERS SEARCH BOX --- */

/* --- NAV --- */

#header nav{
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	float: right;
}

#header nav ul{ z-index: -1; }

#header nav ul li{
	position: relative;
	float: left;
}

#header nav ul li a{
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	color: #bbb;

	padding: 0 35px;
	position: relative;
	display: block;
}

#header nav ul li a:hover{
	color: #777;

	background: #fcfcfc;

	box-shadow: 1px 0 0 #f0f0f0, -1px 0 0 #f0f0f0;
	-moz-box-shadow: 1px 0 0 #f0f0f0, -1px 0 0 #f0f0f0;
	-webkit-box-shadow: 1px 0 0 #f0f0f0, -1px 0 0 #f0f0f0;
}

/* --- NAV DROPDOWN --- */

#header nav ul li.dropdown:hover{
	background: #fcfcfc;

	box-shadow: 1px 0 0 #f0f0f0, -1px 0 0 #f0f0f0, 0 1px 0 #fcfcfc;
	-moz-box-shadow: 1px 0 0 #f0f0f0, -1px 0 0 #f0f0f0, 0 1px 0 #fcfcfc;
	-webkit-box-shadow: 1px 0 0 #f0f0f0, -1px 0 0 #f0f0f0, 0 1px 0 #fcfcfc;
}

#header nav ul li.dropdown ul{
	background: #fcfcfc;
	border-top: 1px solid #f0f0f0;
	left: 0;
	top: 100%;
    position: absolute;
    display: none;

    border-radius: 0 0 4px 4px;
    -moz-box-border-radius: 0 0 4px 4px;
    -webkit-box-border-radius: 0 0 4px 4px;

    box-shadow: 0 1px 4px rgba(0,0,0,0.02), 0 -1px 0 rgba(255,255,255,1), 0 0 0 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.02), 0 -1px 0 rgba(255,255,255,1), 0 0 0 1px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.02), 0 -1px 0 rgba(255,255,255,1), 0 0 0 1px rgba(0,0,0,0.05);
}

#header nav ul li.dropdown:hover > ul{ display: block; }

#header nav ul li.dropdown ul li{
	border-bottom: 1px solid #f6f6f6;
	float: none;
}

#header nav ul li.dropdown ul li a{
	line-height: 50px;
	white-space: nowrap;
	color: #777;

	padding: 0 70px 0 35px;
}

#header nav ul li.dropdown ul li:last-child{ border-bottom: none; }

#header nav ul li.dropdown ul li a:hover{
	color: #e6624d;

	background: #fafafa;

	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#header nav ul li.dropdown ul li:last-child a:hover{
	border-radius: 0 0 4px 4px;
    -moz-box-border-radius: 0 0 4px 4px;
    -webkit-box-border-radius: 0 0 4px 4px;
}

#header nav ul li.dropdown ul li ul{
	border: 0;
	margin-left: 1px;
	left: 100%;
	top: 0;

	border-radius: 0 4px 4px;
    -moz-box-border-radius: 0 4px 4px;
    -webkit-box-border-radius: 0 4px 4px;

    box-shadow: 0 1px 4px rgba(0,0,0,0.02), 0 0 0 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.02), 0 0 0 1px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.02), 0 0 0 1px rgba(0,0,0,0.05);
}

#header nav ul li.dropdown ul li ul li:first-child a:hover{
	border-radius: 0 4px 0 0;
    -moz-box-border-radius: 0 4px 0 0;
    -webkit-box-border-radius: 0 4px 0 0;
}

#header nav ul li.dropdown ul li:hover > ul{ display: block; }

/* --- MOBILE NAV --- */

#mobile_nav{
	width: 30px;
	height: 30px;
	background: url(../img/menu.png) 0 0;
	margin: 21px 30px;
	float: right;
	display: none; /* --- IMPORTANT --- */
	position: relative;
}

#mobile_nav:hover{ 	background: url(../img/menu.png) center 28px; }

#mobile_nav select{
	font-size: 0px;

	width: 30px;
	height: 30px;
	border: none;
	opacity: 0;

	cursor: pointer;
}

#mobile_nav > div {
	background-color: #FFF;
	box-shadow: 0 1px 4px rgba(0,0,0,0.02), 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.02), 0 1px 0 rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.02), 0 1px 0 rgba(0,0,0,0.05);
	display: none;
	left: -122px;
	padding: 20px;
	position: absolute;
	top: 52px;
	width: 143px;
}

/* --- NAV SEARCH --- */

#nav_search{
	margin-right: 42px;
	margin-left: 42px;

	float: right;
}

#nav_searchbox{
	width: 0px;
	height: 0px;
}

#nav_searchbox input{
	color: rgba(255,255,255,0);

	width: 15px;
	background: #fff url(../img/search.png) no-repeat 5px center / 15px;
	border: none;
	margin: 0 0 0 -13px;
	position: relative;
	z-index: 9;

	cursor: pointer;

	box-shadow: 0 0 0 1px #fff, 0 17px 0 #fff, 0 -17px 0 #fff;
	-moz-box-shadow: 0 0 0 1px #fff, 0 17px 0 #fff, 0 -17px 0 #fff;
	-webkit-box-shadow: 0 0 0 1px #fff, 0 17px 0 #fff, 0 -17px 0 #fff;

	transition: width 0.5s ease, background-position-x 0.5s ease, box-shadow 0.5s ease;
	-o-transition: width 0.5s ease, background-position-x 0.5s ease, box-shadow 0.5s ease;
	-ms-transition: width 0.5s ease, background-position-x 0.5s ease, box-shadow 0.5s ease;
    -moz-transition: width 0.5s ease, background-position-x 0.5s ease, -moz-box-shadow 0.5s ease;
    -webkit-transition: width 0.5s ease, background-position-x 0.5s ease, -webkit-box-shadow 0.5s ease;
}

#nav_searchbox input:focus{
	color: #999;

	width: 210px;
	background: #fcfcfc url(../img/search.png) no-repeat 195px center / 15px;

	cursor: text;

	box-shadow: 0 0 0 1px #ddd, 0 17px 0 #fff, 0 -17px 0 #fff, inset 0 1px 0 0 rgba(0,0,0,0.015);
	-moz-box-shadow: 0 0 0 1px #ddd, 0 17px 0 #fff, 0 -17px 0 #fff, inset 0 1px 0 0 rgba(0,0,0,0.015);
	-webkit-box-shadow: 0 0 0 1px #ddd, 0 17px 0 #fff, 0 -17px 0 #fff, inset 0 1px 0 0 rgba(0,0,0,0.015);
}

/* --- SOCIAL ICONS --- */

.socialicons{
	border-left: 1px solid #f0f0f0;
	float: right;
}

.socialicons li{
	font-size: 17px;
	color: #bbbbbb;

	float: left;
}

.socialicons li i{ margin: 0 0 0 30px; }

.socialicons .fa-dribbble{ margin: 0 0 0 21px; }

.fa-twitter:hover{ color: #00acee; }
.fa-facebook:hover{	color: #3c599b; }
.fa-google-plus:hover{ color: #e14b38; }
.fa-dribbble:hover{	color: #e14984; }

/* ---------------------------------------- */
/*                 SLIDER                   */
/* ---------------------------------------- */

#slider{
	margin-bottom: -35px;
	position: relative;
	z-index: 1;
}

#slider ul li{
	height: 500px;
	background: no-repeat top center;
	padding: 80px 0;
	position: relative;

	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

#slider .large_text{
	font-size: 63px;
	font-weight: 800;
	line-height: 0.8;
	color: #444;
}

#slider .large_text span{
	font-size: 40px;
	letter-spacing: 3px;
	line-height: 0.5;
}

#slider p{
	font-size: 15px;
}

.nextBtn, .prevBtn{
	font-size: 0;

	width: 35px;
	height: 35px;
	background: #f8f7f6;
	margin-top: -10px;
	position: absolute;
	top: 50%;
	z-index: 2;

	background-image: -o-linear-gradient(top, #fefefe, #f8f7f6);
	background-image: -ms-linear-gradient(top, #fefefe, #f8f7f6);
	background-image: -moz-linear-gradient(top, #fefefe, #f8f7f6);
	background-image: -webkit-linear-gradient(top, #fefefe, #f8f7f6);

	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;

	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.15);
	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.15);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.15);
}

.prevBtn{
	left: 20px;
}

.nextBtn{
	right: 20px;
}

.nextBtn:active, .prevBtn:active{
	background: #f8f7f6;

	background-image: -o-linear-gradient(bottom, #f9f9f9, #f8f7f6);
	background-image: -ms-linear-gradient(bottom, #f9f9f9, #f8f7f6);
	background-image: -moz-linear-gradient(bottom, #f9f9f9, #f8f7f6);
	background-image: -webkit-linear-gradient(bottom, #f9f9f9, #f8f7f6);

	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.1);
}

.prevBtn:after, .nextBtn:after{
	font-family: "FontAwesome";
	font-size: 11px;
	color: #777;

	position: absolute;
	top: 19px;
}

.prevBtn:after{
	content: "\f053";

	right: 14px;
}

.nextBtn:after{
	content: "\f054";

	left: 15px;
}


/* ---------------------------------------- */
/*               #PAGE HEADER               */
/* ---------------------------------------- */

#page_header{
	width: 100%;
	background: url(../img/pageheader_bg.jpg) no-repeat center;
	padding: 70px 0;
	float: left;
	position: relative;
	z-index: 1;

	background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

#page_header:before{
	content : "";

	width: 100%;
    height: 100%;
	background: #434952;
    position: absolute;
    top: 0;
    opacity: 0.95;
    z-index: -1;
}

#page_header h3{
	color: #fff;

	width: 70%;
	margin: 0 0 3px;
	float: left;
}

#page_header nav{
	width: 30%;
	margin: 10px 0 0;
	float: right;
}

#page_header ul{
	line-height: 1.2;

	float: right;
}

#page_header ul li{
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	color: #9ca2aa;

	margin: 0 3px;
	float: left;
}

#page_header ul li a{
	color: #e6624d;
}

#page_header ul li a:hover{
	text-decoration: underline;
}

#page_header li a i{
	font-size: 13px;
	line-height: ;

	margin: 0 5px 0 0;
}

.sep{ margin: 0 2px; }

/* ---------------------------------------- */
/*               FEATURE ICONS              */
/* ---------------------------------------- */

.features{
	text-align: center;

	padding: 10px 0;
}

.features h5{ color: #777; }

.features:hover h5{ color: #444; }

.feature_icon{
	font-size: 35px;
	line-height: 90px;
	text-align: center;
	color: #e6624d;

	width: 90px;
	height: 90px;
	background: #f8f7f6;
	border: 1px solid #e2e1e0;
	margin: 0 auto 30px;

	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}

.features:hover .feature_icon{
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);

	background: #e6624d;
	border: 1px solid #c94e3a;
	border-right: 0;

	background-image: -o-linear-gradient(top, #f36f5a, #e6624d);
	background-image: -ms-linear-gradient(top, #f36f5a, #e6624d);
	background-image: -moz-linear-gradient(top, #f36f5a, #e6624d);
	background-image: -webkit-linear-gradient(top, #f36f5a, #e6624d);
}

.features .boxed{
	margin-top: 45px;
	padding-top: 65px;
	position: relative;
}

.boxed .feature_icon{
	margin: -45px 0 0 -45px;
	position: absolute;
	left: 50%;
	top: 0;
}

.features_pushed{
	padding: 0 0 0 40px;
	position: relative;
}

.features_pushed:before{
	font-family: "FontAwesome";
	font-size: 26px;
	color: #e6624d;

	position: absolute;
	left: 0;
}

.eye:before{ content: "\f06e"; }
.rocket:before{ content: "\f135"; }
.html5:before{ content: "\f13b"; }
.leaf:before{ content: "\f06c"; }
.gift:before{ content: "\f06b"; }
.cog:before{ content: "\f013"; }

/* ---------------------------------------- */
/*              BLOG PAGE STYLES            */
/* ---------------------------------------- */

.main_content{
	width: 66.6%;
	float: left;
}

.main_content.right{
	border-left-width: 30px;
	float: right;
}

.sidebar, .sidebar_100{
	width: 33.4%;
	border-left-width: 30px;
	float: right;
}

.sidebar.left, .sidebar_100.left{
	border-left-width: 15px;
	float: left;
}

/* --- PAGINATION --- */

.pagination a i{
	font-size: 11px;

	margin-top: 1px;
}

.pagination .float_right span{
	margin: 0 0 0 6px;
}

.pagination h6{
	color: #777;

	display: inline;
}

.pagination a h6:hover{	color: #444; }

.pagination_menu{
	font-size: 19px;

	height: 12px;
	margin: 0 -18px 0;
	position: absolute;
	left: 50%;
}

.pagination_menu .fa-th-large{
	font-size: 36px;
	color: #ededed;

	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.pagination_menu i:hover{ color: #e6624d; }

/* --- SINGLE POST --- */

.cover_img_container{
	height: 225px;
}

.cover_image{
	width: 100%;
	height: 225px;
	background: no-repeat top center;
	margin-top: -35px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;

	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

.cover_img_container iframe{
	width: 100%;
	height: 100%;
}

/* --- SHAREBAR --- */

.sharebar{
	width: 100%;
	float: left;
	border-top: 2px solid #ededed;
	border-bottom: 2px solid #ededed;
	padding: 20px 0;
}

.sharebar h6{
	margin: 4px 0 0;
	float: left;
}

.sharebar ul{ float: right; }

.sharebar ul li{
	font-size: 17px;
	color: #bbbbbb;

	float: left;
}

.sharebar li i{ margin: 0 0 0 30px; }

@media only screen and (min-width: 768px) {
	.post_container{
		border-left: 2px solid #f2f2f2;
		margin-left: 36px;
		padding: 0 0 35px 53px;
	}

	article.post_container{ padding-left: 47px; }
}

.post_container{
	position: relative;
	padding-top: 20px;
}

.post_container.last{ padding: 0 0 0 47px; }

.post_container.last:after{
	content: "";

	width: 2px;
	height: 100px;
	position: absolute;
	left: -2px;
	bottom: 0;

	background-image: -o-linear-gradient(top, #f2f2f2, #fafafa);
	background-image: -ms-linear-gradient(top, #f2f2f2, #fafafa);
	background-image: -moz-linear-gradient(top, #f2f2f2, #fafafa);
	background-image: -webkit-linear-gradient(top, #f2f2f2, #fafafa);
}

.post_header, .post_content{ margin: 0 0 0 7px; }

.post_header{ margin-bottom: 5px; }

.post_content p{ color: #777; }

.post_container .avatar{
	position: absolute;
	left: -5px;
	top: 0;
}

@media only screen and (min-width: 768px) {
	.post_container .avatar{
		left: -36px;
	}
}

.post_container_media{
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	display: block;
	overflow: hidden;
}

.post_container_media iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.post_img_container{
	width: auto;
	height: auto;
	margin: 0 0 15px 0;
	position: relative;
	display: block;
	overflow: hidden;
}

.post_img_container img, .post_img_container .img_overlay{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.point_top{
	width: 11px;
	height: 45px;
	background: url(../img/arrow_overlay_top.png) 0 0 / 11px 45px;
	position: absolute;
	left: 0;
	top: 0;
}

.point_middle{
	width: 7px;
	height: 100%;
	background: #fafafa;
	position: absolute;
	left: 0;
	top: 45px;
}

.point_btm{
	width: 11px;
	height: 30px;
	background: url(../img/arrow_overlay_btm.png) 0 0 / 11px 30px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.point_topr{
	width: 4px;
	height: 4px;
	background: url(../img/arrow_overlay_topr.png) 0 0 / 4px 4px;
	position: absolute;
	right: 0;
	top: 0;
}

.point_btmr{
	width: 4px;
	height: 4px;
	background: url(../img/arrow_overlay_btmr.png) 0 0 / 4px 4px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.fullpost .post_header{	margin-bottom: 15px; }

.fullpost p{
	font-size: 16px;
	line-height: 1.6;
}

.fullpost .dropcap{	font-size: 80px; }
.fullpost .dropcap_alt{
	font-size: 53px;

	padding: 6px 17px;
}

.fullpost .avatar{
	top: -70px;
	z-index: 66;
}

/* --- COMMENTS SECTION --- */

.comment ul{ position: relative }

.comment ul li div{
	margin: 0 0 20px;
	position: relative;
}

.comment .avatar{ left: -90px; }

.comment h5 span, .comment h5 span a{
	font-size: 9px;
	font-weight: 400;
	color: #bbb;

	margin: 0 5px;
}

.comment h5 span a:hover{ text-decoration: underline; }

.comment ul li ul{	margin-left: 90px; }

/* --- COMMENT FORM SECTION --- */

#commentform input, #commentform textarea{
	margin-bottom: 11px;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#commentform textarea{
	max-width: 100%;
	min-width: 100%;
	min-height: 200px
}

#name, #fname, #lname, #email{
	width: 49.2%;
	margin: 0 1% 0 0;
	float: left;
	display: block;
}

#email, #lname{
	margin: 0;
	float: right;
}

/* --- POST META --- */

.meta li, .meta-button{
	font-weight: 400;
	text-transform: uppercase;
	color: #bbb;
}

.meta li span, .meta-button span{
	font-size: 9px;

	margin-left: 6px;
}

.meta li a:hover{
	text-decoration: underline;
	color: #e6624d;
}

.meta li.date i{ vertical-align: middle; }

.meta-button{
	background: #f2f2f2;
	margin: 0 5px 10px 0;
	padding: 8px 10px;
	position: relative;
	display: inline-block;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.meta-button:hover{
	color: #fff;

	background: #e6624d;
}

meta-button span{
	vertical-align: middle;

	margin: 0 0 0 10px;
}

.meta-button i{
	font-size: 15px;
	vertical-align: middle;
}

/* ---------------------------------------- */
/*              SIDEBAR WIDGETS             */
/* ---------------------------------------- */

/* --- SEARCH --- */

.search input[type=text]{
	background: #fcfcfc url(../img/search.png) no-repeat left 10px	center;
	padding-left: 35px;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* --- TAB POST --- */

.tab_post{
	margin: 0 0 19px;
	padding-left: 64px;
	position: relative;
	float: left;
}

.tab_post:last-child{
	margin-bottom: 0;
}

.tab_post_thumbnail{
	margin: 0 19px 0 0;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.tab_post_thumbnail img, .tab_post_thumbnail .img_overlay{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.tab_post h6{ color: #333; }

.tab_post ul{
	height: 25px;
	overflow: hidden;
}

.tab_post ul li{
	margin-top: 5px;
	float: left;
}

.tab_post ul li:first-child{ margin-right: 20px; }

.tab_post .avatar{ width: 45px; }

.tab_post p{ font-size: 11px; }

/* --- CATEGORIES --- */

.categories ul.list li{
	font-size: 12px;

	width: 100%;
	margin: 16px 0 12px;
	position: relative;
	float: left;
}

.categories ul.list li:last-child{ margin-bottom: 30px; }

.categories li:after{
	content: "";

	width: 100%;
	height: 1px;
	background: #f2f2f2;
	position: absolute;
	bottom: -12px;
}

.categories li:last-child:after{
	height: 0;
}

.categories li h6{
	font-weight: 300;
	color: #777;
}

.categories li h6 a{ color: #e6624d; }

.categories li a:hover h6 span{ text-decoration: underline; }

/* --- MINI POST --- */

.mini_post{
	height: 78px;
	background: #fff;
	margin: 10px 0 0;
	padding: 0 0 0 98px;
	position: relative;
}

.mini_post:hover li{ color: #999; }

.mini_post_thumbnail{
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 1;
}

.mini_post .img_overlay, .mini_post a img{
	border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
}

.mini_post header{
	height: 15px;
	padding: 20px 0;
	overflow: hidden;
}

.mini_post header h6{ color: #777; }

.mini_post ul{
	height: 100%;
	background: #fcfcfc;
	border-left: 1px solid #efefef;
	margin: 0 0 0 20px;
	float: right;

	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
}

.mini_post header h6:hover, .mini_post li:hover{ color: #e6624d; }

.mini_post ul li{
	line-height: 38px;

	height: 38px;
	padding: 0 20px;
}

.mini_post ul li:first-child{ border-bottom: 1px solid #efefef; }

.mini_post ul i{ font-size: 14px; }

.mini_post ul li span{ margin: 0 0 0 5px; }

/* --- BOXED POST --- */

.boxed_post{
	margin-bottom: -20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

    transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.boxed_post:hover{
	box-shadow: 0 1px 4px rgba(0,0,0,0.03);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.03);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.03);
}

.boxed_img{
	position: relative;
	display: block;
	overflow: hidden;
}

.boxed_img, .boxed_img .img_overlay{
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

.boxed_post_wrap{
	background: #fff;
	border: 1px solid #ebebeb;
	padding: 60px 0 0;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.boxed_img ~ .boxed_post_wrap{
	border: 1px solid #ebebeb;
	border-top: 0;
	padding: 0;

	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}

.boxed_post:hover .boxed_post_wrap{	border-color: #e2e2e2; }

.boxed_post header{
	text-align: center;

	background: #fff;
	padding: 50px 20px 20px;
	position: relative;
}

.boxed_post p{
	overflow: hidden;
	text-align: left;
}

.boxed_post h5 {
	height: 50px;
}

.boxed_post h5 a { vertical-align: middle; }

.boxed_post .avatar{
	margin-left: -35px;
	position: absolute;
	top: -35px;
	left: 50%;
}

.boxed_post .meta{
	text-align: center;

	background: #fcfcfc;
	border-top: 1px solid #efefef;
	overflow: hidden;

	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}

.boxed_post .meta li{
	border-left: 1px solid #efefef;
	padding: 14px 0;
	float: left;
	display: block;

	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.boxed_post ul li:first-child{ border-left: 0; }

.boxed_post .date {
	margin-left: 20px;
}

.boxed_post .date span,
span.date_post {
	margin-left: 0;
	position: relative;
	top: -1px;
}

.col.one_quarter.item {
	width: 285px;
}
.boxed_post p { height: 160px; }



/* --- IMAGE WIDGET --- */

.img_widget{ float: left; }

.img_widget .row{	margin-left: -10px; }

.img_widget .row .col{
	line-height: 0;

	border-left-width: 10px;
}

.img_widget a{
	position: relative;
	display: block;
}

.img_widget img, .img_widget .img_overlay{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* ---------------------------------------- */
/*            PORTFOLIO & PROJECT           */
/* ---------------------------------------- */

.img_post{
	margin: 0 0 -20px;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

    transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.img_post:hover{
	box-shadow: 0 1px 4px rgba(0,0,0,0.03);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.03);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.03);
}

.img_container{
	position: relative;
	display: block;
	overflow: hidden;
}

.img_container img, .img_post .img_overlay{
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

.img_post.rounded .img_container, .img_post.rounded .img_overlay{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.img_post header{
	background: #fff;
	border: 1px solid #ebebeb;
	border-top: 0;
	padding: 20px;

	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;

	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.img_post:hover header{
	border: 1px solid #e2e2e2;
	border-top: 0;
}

.img_post header h5{ margin: 0; }

.img_post header p{ margin-top: 10px }

#portfolio-list .col{ margin-bottom: 15px; }

.project_post{ text-align: center; }

.project_post header{ margin: 15px 0; }

/* ---------------------------------------- */
/*               #MAIN_FOOTER               */
/* ---------------------------------------- */

footer{
	width: 100%;
	overflow: hidden;
}

#main_footer{ background: #3a3a3a; }

#main_footer:before{
	content:"";

	width: 100%;
	height: 3px;
	background: url(../img/rainbow.png) 0 0 no-repeat;
	background-size: 100%;
	float: left;
}

#main_footer .row{
	padding-top: 50px;
}

#main_footer .col ul h4{ color: #fff; }

#main_footer .col ul li{
	font-size: 15px;
	color: #777;

	margin: 0 0 15px;
}

#main_footer .col ul li a:hover{ color: #e6624d; }

.txt_center {
	text-align: center;
}

#disqus_thread iframe #layout {
	overflow: auto !important;
}

/* ---------------------------------------- */
/*               #SUB_FOOTER                */
/* ---------------------------------------- */

#sub_footer{
	height: 70px;
	background: #333;
}

#footer_logo{
	width: 26px;
	height: 32px;
	margin: 20px 10px 0 0;
	float: left;
}

#sub_footer h6{
	line-height: 73px;
	color: #666;
}

#sub_footer ul{
	margin: 0 45px 0 0;
	float: right;
}

#sub_footer ul li{
	font-size: 17px;
	line-height: 70px;
	color: #666666;

	float: left;
}

footer ul li i{ margin: 0 0 0 30px; }

footer .fa-dribbble{ margin: 0 0 0 21px; }

#totop{
	font-size: 18px;
	font-weight: 900;
	color: #aaa;

	background: rgba(51,51,51,0.75);
	padding: 8px 13px 11px;
	position: fixed;
	display: none;
	right: 14px;
	bottom: 14px;
	z-index: 999;


	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#totop:hover{
	color: #fff;

	background: #e6624d;
}

/* ---------------------------------------- */
/*                 VIEW JS                  */
/* ---------------------------------------- */

.viewer{ background: rgba(35,35,35,0.95); }

.viewer li{
	transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	-o-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	-ms-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	-moz-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	-webkit-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.viewer .caption{
	visibility: hidden;
	opacity: 0;

	transition: opacity 3s ease-in-out;
	-o-transition: opacity 3s ease-in-out;
	-ms-transition: opacity 3s ease-in-out;
	-moz-transition: opacity 3s ease-in-out;
	-webkit-transition: opacity 3s ease-in-out;

}
.viewer .current .caption{
	opacity: 100;
	visibility: visible;
}

.viewer ul img{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3), 0 0 0 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3), 0 0 0 1px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3), 0 0 0 1px rgba(0,0,0,0.05);
}

.post_content p code {
	background: #f7f7f7;
  border: 1px solid #f4f4f4;
  margin: 0 2px 0 2px;
  padding: 0 4px 0 4px;
  border-radius: 2px;
  font-weight: bold;
  font-style: italic;
}

.inbl { display: inline-block; }

/* ---------------------------------------- */
/*              STICKY FOOTER               */
/* ---------------------------------------- */
html { height: 100%; }

.site {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.site-content {
	-webkit-box-flex: 1;
			-webkit-flex: 1 0 auto;
					-ms-flex: 1 0 auto;
							flex: 1 0 auto;
}

#header,
#main_footer,
#sub_footer {
	-webkit-box-flex: 0;
			-webkit-flex: none;
					-ms-flex: none;
							flex: none;
}

/* ---------------------------------------- */
/*                  FADEIN                  */
/* ---------------------------------------- */

.fadein {
	animation: fadein 2s;
	-o-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
   }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}?

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}?
