---
layout: default
title: Home
---

<body class="site">
  {% include header.html %}

  <!-- MAIN CONTENT -->
  <main class="site-content">
    <div class="container"><!-- CONTAINER -->
      <div class="row" id="container">
        {% for post in site.posts %}
          <div class="col one_quarter item">
            <article class="boxed_post">
              <a href="{{ post.url }}" class="boxed_img">
                <img src="img/articles/{{ post.img }}_445x282.jpg" alt="" />
                <div class="img_overlay"><i class="fa fa-link"></i></div>
              </a>
              <div class="boxed_post_wrap">
                <header>
                  <img src="img/avatar/{{ post.avatar }}.jpg" alt="" class="avatar" height="70" width="70"/>
                  <h5><a href="{{ post.url }}">{{ post.title | truncatewords: 11}}</a></h5>
                  {{ post.excerpt | truncatewords: 28}}
                </header>
                <ul class="meta">
                  <li class="date"><i class="fa fa-clock-o"></i>
                    <span>
                      {% include date.html date=post.date %}
                      {{ day }}{{ sup }} {{ month }} {{ year }}
                     </span>
                  </li>
<!--                   <li><a href="#"><i class="fa fa-comments"></i><span>22</span></a></li>
 -->                </ul>
              </div>
            </article>
          </div>
        {% endfor %}
      </div>
      <div class="gap_50"></div><!-- GAP -->
      <hr class="gap_35"> <!-- DIVIDER -->

    </div><!-- CONTAINER END -->

  </main>
  <!-- MAIN CONTENT END -->
