<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Les sans cravates - {{page.title}}</title>
    <meta name="description" content="{{ page.excerpt | remove: '<p>' | remove: '</p>' | truncate: 135}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <link rel="stylesheet" href="/css/screen.min.css" type="text/css" />

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,800,700" rel="stylesheet">

    {% feed_meta %}
  </head><!-- Layout -->
