<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Les sans cravates - {{page.title}}</title>
    <meta name="description" content="A Responsive HTML Theme" />
    <meta name="keywords" content="velocity, html, responsive, theme" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/styleses.css" type="text/css" />
    <link rel="stylesheet" href="/css/elements.css" type="text/css" />
    <link rel="stylesheet" href="/css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-awesome.css" type="text/css" />

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,800,700" rel="stylesheet">
  </head><!-- Layout -->